* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu {
	display:block
}

section,main {
    width: 100%;
}

body {
    padding-top: 52px;
}

header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 52px;
    z-index: 99;
}

article {
    margin-top: 20px;
}

.section-left {
    margin-right: 15px;
}

.comment-position {
    margin-top: 30px !important;
}

.content .header {
    font-size: 14px;
}
/*
    遮罩
*/
.ui.dimmer > .content {
    height: 30%;
}

.ui.search .prompt {
    border-radius: 0;
}

/*
修改头部user弹出样式
*/
.ui.dropdown.header-user .menu {
    top: 3em;
    /*right: -1em !important;*/
}

article .ui.segment {
    z-index: -1;
}
